
img{
    height: 300px;
    width:  400px;
}
div {
    width: 100px;
    height:100px;
    background-color: yellow;
} 
.yellow {
   background-color: pink;
   
}

body{
    background-color: red
}
h1{ 
 text-decoration: underline;
 text-align: center;

}
h1 {
     text-align: center;
    text-decoration: underline;
    background-color: blue;
}
h1:hover {
    background-color: white;
    text-align:center;
    width: 600px;
    margin: 0 auto;
    